<header>
    SC-Rec Demo
</header>
<div class="content">
    <nav>
        <ul class="nav">
            <!-- <li class="nav__item"><a class="nav__link active" routerLink="/">Home</a></li> -->
            <li class="nav__item"><a class="nav__link active" routerLink="/">Registration</a></li>
            <li class="nav__item"><a class="nav__link" routerLink="/authentication">Authentication</a></li>
            <li class="nav__item"><a class="nav__link" routerLink="/delete">Delete</a></li>
        </ul>
    </nav>
    <div class="mainContent">
        <ngx-ui-loader></ngx-ui-loader>
        <router-outlet></router-outlet>
    </div>
</div>